@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kubernetes .NET Core Example</h1>
    <p>Visit <a href="https://github.com/cdemi/kubernetes-dotnet-example">GitHub/cdemi/kubernetes-dotnet-example</a> for the source code.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
